<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="NameTextField">Title</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Movie Name" name="title" value="<%= list.Title %>" required>
              </div>
              <div class="form-group">
                <label for="DescriptionTextField">Description</label>
                <input type="text" class="form-control" id="DescriptionTextField"
                placeholder="Enter Movie Description" name="description" value="<%= list.Description %>"  required>
              </div>
              <div class="form-group">
                <label for="ReleasedNumberField">Released Date</label>
                <input type="text" class="form-control" id="ReleasedNumberField"
                placeholder="Released Date" name="released" value="<%= list.Released %>"  required>
              </div>
              <div class="form-group">
                <label for="DirectorTextField">Director</label>
                <input type="text" class="form-control" id="DirectorTextField"
                placeholder="Movies's Director" name="director" value="<%= list.Director %>"  required>
              </div>
              <div class="form-group">
                <label for="GenreTextField">Genre</label>
                <input type="text" class="form-control" id="GenreTextField"
                placeholder="Movie Genre" name="genre" value="<%= list.Genre %>"  required>
              </div>

              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/movies" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
